<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <title>Oakland Tech Copier Queue</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1 class='header'>Oakland Tech Copier Queues</h1>
  <div class='map'>
    <img src="{{ url_for('static', filename='maps/original.png')}}" style="width:674px;height:auto;" id="map">
  </div>

  <h4>Copiers</h4>
  <div class='copiers'>
    {% for copier in state %}
      <div class="card" name="{{copier['Name']}}">
        <div class="card-body">
        <h5 class="card-title" status="{{copier['status']}}" pictureName="{{copier['Picture']}}">{{copier['Name']}}</h5>

        <button type="button" class="btn btn-outline-danger">Mark as broken</button>

        <h5 class="eta">{{copier['ETA']}}</h5>
        <!--<h5 class="status">{{copier['Status']}}</h5>-->


        {% if copier['jobcount'] == 1 %}
          <p class="jobcount"><b>{{copier['JobCount']}}</b> Job</p>
        {% else %}
          <p class="jobcount"><b>{{copier['JobCount']}}</b> Jobs</p>
        {% endif %}


        <table class="queue">

          {% if copier['Queue'] %}
          <tr>
            <th>Job #</th>
            <th>Type</th>
            <th>Start Time</th>
            <th>Time Left</th>
          </tr>
            {% for items in copier['Queue'] %}
              <tr>
                <td>{{items['jobID']}}</td>
                <td>{{items['jobType']}}</td>
                <td>{{items['startTime']}}</td>
                <td>{{items['eta']}}</td>
              </tr>
            {% endfor %}
          {% endif %}
        </table>
        </div>

        </div>
        <!--
        <div class="broken-form">
          <h1>Report Broken Copier</h1>
          <form action="" method="post" novalidate>
            <p>{{ form.Notes }}</p>
            <p>{{ form.Submit }}</p>
          </form>
        </div>
      -->
        {% if copier['status'] == 'Broken '%}
          <div class="broken"></div>
        {% endif %}
      {% endfor %}
    </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      /*
      if ($(".card").attr('id') == "unavaliable") {
        $(".card").append("background-color", "rgba(245, 245, 245, 0.4)" "opacity", "20%")
      });

      copierList = {"106A Copier 1", "106A Copier 2", "Art room 2", "232 Copier 1", "232 Copier 2", "Test Copier"}
      /*
      $(".card").on('mouseenter', () => {
        var picture = $(".card-title").attr("pictureName");
        var url = "/static/maps/" + picture;
        console.log(url)

        $("img").attr("src", url);

        var cardName = $(".card-title").text()
        console.log(cardName)

        $(".card").css("box-shadow", "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)");
      });

      $(".card").on('mouseleave', () => {
        $(".card").css("box-shadow", "none");
        $("img").attr("src", "{{ url_for('static', filename='maps/original.png')}}")
      });
      */







      $("button").on('click', () => {

        $(".broken-form").css("display", "block")
      });


    });
  </script>
</body>
