<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <title>Oakland Tech Copier Queue</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1 class='header'>Oakland Tech Copier Queues</h1>

  <h4>Copiers</h4>
  <div class='copiers'>

    {% for copier in state %}
      <div class="card" id="{{copier['Status']}}">
        <div class="card-body">

          <h5 class="card-title">{{copier['Name']}}</h5>
          <button type="button" class="btn btn-outline-danger">Mark as broken</button>

          <h5 class="eta">{{copier['eta']}}</h5>
          <!--<h5 class="status">{{copier['Status']}}</h5>-->
          {% if copier['jobcount'] == 1 %}
            <p class="jobcount"><b>{{copier['JobCount']}}</b> Job</p>
          {% else %}
            <p class="jobcount"><b>{{copier['JobCount']}}</b> Jobs</p>
          {% endif %}
          <table class="queue">
            <tr>
              <th>Job #</th>
              <th>Type</th>
              <th>Start Time</th>
              <th>Time Left</th>
            </tr>
            {% if copier['Queue'] %}
              {% for items in copier['Queue'] %}
                <tr>
                  <td>{{items['jobID']}}</td>
                  <td>{{items['jobType']}}</td>
                  <td>{{items['startTime']}}</td>
                  <td>{{items['eta']}}
                </tr>
              {% endfor %}
            {% endif %}
          </table>
        </div>
      </div>
    {% endfor %}
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type='text/javascript'>
    jQuery(document).ready(function(){
      $(".card").on('mouseenter', () => {
        $('.card').css("box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)");
      })

      $('.card').on('mouseleave', () => {
        $('.card').css("box-shadow: none")
      })
    });
  </script>
</body>
