.header {
  margin: 20px;
}

.map {

}



h4 {
  margin-left: 40px;
}

.btn {
  width: 120px;
  padding: 1px;
}

@media (max-width: 576px) {
  .copiers {
    display: flex;
    flex-wrap: wrap;
    justify-content: middle;
    margin-left: 20px;
  }

  .img {
    visibility: hidden;
  }

  .card {
    width: 25rem;
    margin: 30px;
    min-height: 250px;
    border: none;

  }
}

@media (min-width: 576px) {
  .card {
    width: 25rem;
    margin: 30px;
    min-height: 250px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)*/
  }
  /*
  .img {
    width: 269.6px;
    height: auto;
  }
  */
  .copiers {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 20px;
  }
}


.card-header {
  display: flex;
  justify-content: space-between;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.status {
  font-size: 12px;
  font-weight: 100;
}

.queue {
  overflow-y: scroll;
  height:10px;
}

th, td {
  width: 200px;
  border-bottom: 1px solid #ddd;
  margin: 50px;
}
